<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vivid Luxury</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css" rel="stylesheet">
</head>
<body class="w-full h-full bg-white">
    <% if (msg.length>0) { %><div class="error absolute top-5 bg-blue-500 -translate-x-1/2 -translate-y-1/2 left-1/2 rounded-md px-3">
        <span class="inline-block mt-1 mb-2 text-white"><%=msg%></span>
    </div>
    <%}%>
    <div class="p-10 flex justify-between">
        <h1 class="text-3xl  header tracking-tigher">Vivid <span class="text-blue-500">Luxury</span></h1>
        <div class="text-xl flex gap-3 font-['helvetica_now_display']">
            <a href="/shop" class="text-black px-3 py-2 ">Shop</a>
            <a href="/cart" class="text-black px-3 py-2 ">My Cart</a>
            <a href="/account" class="text-black px-3 py-2 ">My Account</a>
            <a href="/users/logout" class="text-red-600 px-3 py-2 ml-auto ">Logout</a>
        </div>
    </div>

    <div class="conatiner flex p-6">
        <div class="w-1/4 ml-8 p-6">
            <label for="sort">Sort by</label>
            <select class="border-2 rouded-lg px-3 py-2 ml-1" id="sort" name="sort">
                <option value="latest">Latest</option>
                <option value="oldest">Olddet</option>
            </select>
            <div class="links flex flex-col mt-10 tracking-tight font-[1px]">
                <a href="">New Collection</a>
                <a href="">All Products</a>
                <a href="">Discounted Porducts</a>
            </div>
            <div class="filter mt-10">
                <label for="sort">Filter</label>
                <select class="border-2 rouded-lg px-3 py-2 ml-1" id="filter" name="filter">
                    <option value="availability">Availability</option>
                    <option value="discount">Discount</option>
                </select>
            </div>
        </div>
        <div class="grid lg:grid-cols-4 gap-4 p-6 w-3/4 sm:grid-cols-2">
            <% if(products.length > 0)  {%>
                <% products.forEach(function(product) { %>
                    <div class=" h-64 w-52 ">
                        <div class="image-section flex justify-center items-center h-48 bg-[<%= product.bgcolor %>] ">
                            <img class="h-[12rem] " src="data:image/jpeg;base64,<%= product.image.toString('base64')%>">
                        </div>
                        <div class="image description p-2 flex justify-between items-center bg-[<%= product.panelcolor %>] text-[<%= product.textcolor %>]">
                            <div>
                                <h1 class="tracking-tighter"><%=product.name%></h1>
                                <p class="tracking-tighter">₹<%= product.price %></p>
                            </div>
                            <a  href="/addtocart/<%=product._id%>" class="add-option p-5 ml-auto bg-gray-300 h-7 w-7 rounded-full flex items-center justify-center">
                                <i class="ri-add-line"></i>
                            </a>
                        </div>
                    </div>
                    
                <%})%>
            <%} else { %>
                <div class="bg-red-100 text-red-800 border border-red-200 p-4 rounded-lg text-center font-semibold shadow-md w-80 mx-auto w-72">
                    <p>Products Not Available</p>
                </div>
                <%}%>
        </div>
    </div>
    <div class="footer py-3  text-center bg-blue-300 text-white fixed bottom-0 w-full">
        <footer class="w-full">All rights reserved @2024 </footer>
    </div>
</body>
</html>